<article class="flex flex-col" id="contacto">
    <ul class="flex justify-center items-center gap-2">
            <h3 class="font-bold">Contacto</h3>
        <li>
            <a href="https://linkedin.com/in/damianbastos3"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        </li>
        <li>
            <a href="https://github.com/damibastos"><i class="fa-brands fa-github fa-2xl"></i></a>
        </li>
        <li>
            <a href="mailto:damian.bastos@yahoo.com"><i class="fa-solid fa-envelope fa-2xl"></i></a>
        </li>
        <li>
            <a href="./cv.pdf" target="_blank"><i class="fa-solid fa-file-contract fa-2xl"></i></a>
        </li>
    </ul>
</article>
